.--color1 {
  color: #05b1b1;
}

.--color2 {
  color: #52339a !important;
}

body {
  background: #fff;
  overflow-x: hidden;
  color: #fff;
}

header,
section {
  padding: 100px 0;
}

footer {
  padding: 50px 0;
}

header {
  padding: 200px 0;
}

header,
footer {
  background: url("../../img/pattern.png"), #05b1b1;
  background: url("../../img/pattern.png"), -webkit-gradient(linear, left top, right top, from(#52339a), color-stop(53%, #6f4cad), to(#05b1b1));
  background: url("../../img/pattern.png"), linear-gradient(90deg, #52339a 0%, #6f4cad 53%, #05b1b1 100%);
}

.itd_play {
  background-color: #05b1b1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 30px auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.itd_play:hover {
  background-color: #52339a;
}

.itd_triangle {
  margin-left: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
}

.btn-itd {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  padding: 8px 30px;
  color: #fff;
  background-color: #52339a;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.btn-itd:hover {
  background-color: #05b1b1;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0;
}

.container .line {
  width: 30%;
  margin: 20px auto 50px;
  height: 3px;
  background-color: #05b1b1;
}

.circle_itd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #52339a;
}

.circle_itd i {
  font-size: 25px;
  color: #52339a;
}

.square {
  padding: 5px;
}

.square p {
  border: 2px solid #05b1b1;
  padding: 50px;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
}

.accordion-button {
  font-family: Montserrat, sans-serif;
  background-color: #3c27b4;
  color: #fff;
}

.accordion-item {
  border-color: #2b2b2b;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #52339a;
}

.accordion-body {
  color: #000;
}

.row-tables {
  width: 75%;
  margin: 0 auto;
}

.row-tables-title {
  padding-top: 100px;
}

section {
  position: relative;
  z-index: 10;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#22001b), to(#151154));
  background-image: linear-gradient(180deg, #22001b, #151154 100%);
  background: -webkit-linear-gradient(180deg, #22001b, #151154 100%);
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.bgcolor {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#22001b), to(#151154));
  background-image: linear-gradient(0deg, #22001b, #151154 100%);
  background: -webkit-linear-gradient(0deg, #22001b, #151154 100%);
  opacity: 1;
}

.bgcolor2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#22001b), to(#151154));
  background-image: linear-gradient(180deg, #22001b, #151154 100%);
  background: -webkit-linear-gradient(180deg, #22001b, #151154 100%);
  opacity: 1;
}

.bgcolor3 {
  background-color: #eee;
}

.container2 {
  max-width: 70%;
  margin: 0 auto;
}

.container2 img {
  max-width: 100%;
  height: auto;
}

.container2 .square p {
  padding: 30px;
}

.container3 {
  margin: 0 auto;
}

.container3 .img-circle {
  width: 200px;
  height: 200px;
  background-image: url("../../img/people.jpg");
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #05b1b1;
  margin: 0 auto;
}

.container3 p {
  text-align: justify;
}

.buy {
  padding: 0 0 100px 0;
}

.buy img {
  max-width: 80%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-list ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.item-list ul li a {
  text-decoration: none;
}

.item-list ul li a i {
  font-size: 20px;
  color: #fff;
}

.item-list ul li:hover {
  border: 2px solid #fff;
  background-color: #000;
}

.item-list ul li:hover i {
  color: #fff;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
